@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

/* 共通
-------------------------------- */
.full-screen {
  background-image: image-url("bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* カスタムプロパティ未対応ブラウザ用 */
  min-height: calc(var(--vh, 1vh) * 100);
}

.text-position {
  text-align: center;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.bg-width {
  width: 50%;
}

.title {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

.validation-error {
  font-size: 1rem;
  color: #dc3444;
}

/* ヘッダー
-------------------------------- */
.navbar .active {
  text-decoration: underline;
}

#logo:hover {
  opacity: 0.8;
}

/* ホーム画面
-------------------------------- */
.service-name {
  margin: 0 auto 8px;

  img {
    width: 300px;
  }
}

/* お問い合わせ画面
-------------------------------- */
.top-btn {
  width: 25%;
}

/* ログイン画面
-------------------------------- */
.guest-login {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1rem;

  &:hover {
    color: white;
  }
}

/* 検索結果画面
-------------------------------- */
.shop-info {
  width: 50%;

  h1 {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
  }

  h2 {
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 5px;
  }

  p {
    font-size: 1rem;
  }
}

.result-photo {
  width: 100%;
  height: 300px;
  background-color: #191818;

  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  p {
    font-size: 0.7rem;
    color: #fff;
    background-color: #191818;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* 設定画面
-------------------------------- */
.settings {
  width: 95%;
}

.unsubscribe-btn {
  width: 90%;
}

/* 検索履歴画面・お気に入り画面
-------------------------------- */
.list-box {
  padding: 0.5rem 1rem;
  margin: 0 0 1.5rem;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.85);
  position: relative;

  li {
    font-size: 1rem;
  }
}

.shop-photo {
  width: 90px;
  height: 90px;
  background-color: #191818;
  position: relative;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  a,
  i {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.credit {
  color: #5d627b;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bi-heart-fill {
  color: gray;

  &:hover {
    color: rgba(255, 0, 0, 0.7);
  }
}

.bi-heart-fill.favorite {
  color: rgb(255, 0, 0);
}

/* ページネーション */
.pagination {
  li {
    a {
      border: none;
      color: #696969;

      &:hover {
        border-radius: 15px;
      }
    }
  }

  .active a {
    border-radius: 15px;
  }
}

/* お気に入り画面 */
.memo-btn a {
  display: block;
  position: relative;
  padding: 0.5em 2em 0.5em 50px;
  width: 90%;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid;
  border-image: linear-gradient(
    90deg,
    #2285b1 0px,
    #2285b1 30px,
    #aaa 30px,
    #aaa 100%
  );
  border-image-slice: 1;
  transition: 0.3s;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #2285b1;
    transition: 0.3s;
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid #2285b1;
    border-right: 2px solid #2285b1;
  }

  &:hover {
    text-decoration: none;
    background-color: #cccccc;

    &::before {
      opacity: 1;
    }

    &::after {
      border-top: 2px solid #f2f2f2;
      border-right: 2px solid #f2f2f2;
    }
  }
}

/* メモ一覧画面 */
.title-box {
  position: relative;
  padding: 0.5rem;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: -webkit-linear-gradient(
    135deg,
    #ccc 0%,
    #868888 20%,
    #d8dcdc 34%,
    white 53%,
    #ccc 100%
  );
  background-image: linear-gradient(
    -45deg,
    #ccc 0%,
    #868888 20%,
    #d8dcdc 34%,
    white 53%,
    #ccc 100%
  );
}

.memo {
  position: relative;
  margin: 0 0 0.8rem 15px;
  padding: 7px 10px;
  min-height: 48px;
  width: 90%;
  color: #555;
  font-size: 16px;
  background: #dbf0ff;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #dbf0ff;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }

  li {
    list-style: none;
  }
}

.bi-trash {
  color: #a5a5a5b6;

  &:hover {
    color: #dc3444;
  }
}

///////////////////////////////////
//          レスポンシブ         //
///////////////////////////////////
/* Extra large
-------------------------------- */
@media (max-width: 1200px) {
  /* 共通  */
  .bg-width {
    width: 70%;
  }

  /* 検索結果画面  */
  .shop-info {
    width: 70%;
  }

  /* 検索履歴画面 */
  .list-box li {
    font-size: 0.9rem;
  }
}

/* Large
-------------------------------- */
@media (max-width: 992px) {
  /* 共通 */
  .bg-width {
    width: 100%;
  }

  .title {
    font-size: 1.7rem;
  }

  .validation-error {
    font-size: 0.8rem;
  }

  /* お問い合わせ画面 */
  .top-btn {
    width: 50%;
  }

  /* 検索結果画面 */
  .shop-info {
    width: 95%;

    h2,
    p {
      font-size: 0.8rem;
    }
  }

  .result-photo p {
    font-size: 0.5rem;
  }

  /* 検索履歴画面 */
  .credit {
    font-size: 0.5rem;
  }
}

/* Medium
-------------------------------- */
@media (max-width: 768px) {
  /* 共通 */
  .text-position {
    text-align: start;
  }

  .footer-size {
    font-size: 0.7rem;
  }

  /* 検索履歴画面 */
  .list-box li {
    font-size: 0.8rem;
  }
}
