@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

/* common
-------------------------------- */
.full-screen {
  background-image: image-url("bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* カスタムプロパティ未対応ブラウザ用 */
  min-height: calc(var(--vh, 1vh) * 100);
}

.text-position {
  text-align: center;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.bg-width {
  width: 50%;
}

.validation_error_font_size {
  font-size: 1rem;
}

/* ページネーション
-------------------------------- */
.pagination > li > a {
  border: none;
  color: #696969;
}

.pagination > .active > a {
  border-radius: 15px;
}

.pagination > li > a:hover {
  border-radius: 15px;
}

/* ホーム画面
-------------------------------- */
.service-name {
  margin: 0 auto 8px;

  img {
    width: 300px;
  }
}

/* お問い合わせ画面
-------------------------------- */
.f-size {
  font-size: 2rem;
}

.btn-width {
  width: 25%;
}

/* 検索結果画面
-------------------------------- */
.shop-info {
  width: 50%;
}

.shop-photo-border {
  width: 100%;
  height: 300px;
  background-color: #191818;
}

.shop-photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.credit {
  font-size: 0.7rem;
  color: #fff;
  background-color: #191818;
}

.shop-info-text-size {
  font-size: 1rem;
}

.bg-color-gray {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
}

/* 検索履歴画面
-------------------------------- */
.search-histories-width {
  width: 90%;
}

.list-style {
  font-size: 1rem;

  &:hover {
    opacity: 0.7;
  }
}

.search-histories-shop-photo-border {
  width: 90px;
  height: 90px;
  background-color: #191818;
}

.search-histories-shop-photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* 設定画面
-------------------------------- */
#settings .width {
  width: 95%;
}

#unsubscribe .btn-width {
  width: 90%;
}

/* Extra large
-------------------------------- */
@media (max-width: 1200px) {
  /* common
  ------------------------------ */
  .bg-width {
    width: 70%;
  }

  /* 検索結果画面
  ------------------------------ */
  .shop-info {
    width: 70%;
  }

  /* 検索履歴画面
  ------------------------------ */
  .list-text-size {
    font-size: 0.9rem;
  }
}

/* Large
-------------------------------- */
@media (max-width: 992px) {
  /* common
  ------------------------------ */
  .bg-width {
    width: 100%;
  }

  .validation_error_font_size {
    font-size: 0.8rem;
  }

  /* お問い合わせ画面
  ------------------------------ */
  .f-size {
    font-size: 1.7rem;
  }

  .btn-width {
    width: 50%;
  }

  /* 検索結果画面
  ------------------------------ */
  .shop-info {
    width: 95%;
  }

  .shop-info-text-size {
    font-size: 0.8rem;
  }

  .credit {
    font-size: 0.5rem;
    color: #fff;
    background-color: #191818;
  }
}

/* Medium
-------------------------------- */
@media (max-width: 768px) {
  /* common
  -------------------------------- */
  .text-position {
    text-align: start;
  }

  .footer-size {
    font-size: 0.7rem;
  }

  /* 検索履歴画面
  ------------------------------ */
  .list-text-size {
    font-size: 0.9rem;
  }
}
