@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

/* 共通
-------------------------------- */
.full-screen {
  background-image: image-url("bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* カスタムプロパティ未対応ブラウザ用 */
  min-height: calc(var(--vh, 1vh) * 100);
}

.text-position {
  text-align: center;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.bg-width {
  width: 50%;
}

.title {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

.validation-error {
  font-size: 1rem;
  color: #dc3444;
}

/* ホーム画面
-------------------------------- */
.service-name {
  margin: 0 auto 8px;

  img {
    width: 300px;
  }
}

/* お問い合わせ画面
-------------------------------- */
.top-btn {
  width: 25%;
}

/* 検索結果画面
-------------------------------- */
.shop-info {
  width: 50%;

  h1 {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
  }

  h2 {
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 5px;
  }

  p {
    font-size: 1rem;
  }
}

.result-photo {
  width: 100%;
  height: 300px;
  background-color: #191818;

  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  p {
    font-size: 0.7rem;
    color: #fff;
    background-color: #191818;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* 検索履歴画面
-------------------------------- */
.list-box {
  padding: 0.5rem 1rem;
  margin: 0 0 1.5rem;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.85);
  position: relative;

  li {
    font-size: 1rem;
  }
}

.history-photo {
  width: 90px;
  height: 90px;
  background-color: #191818;
  position: relative;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  a,
  i {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.credit {
  color: #5d627b;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bi-heart-fill {
  color: gray;

  &:hover {
    color: rgba(255, 0, 0, 0.7);
  }
}

.bi-heart-fill.favorite {
  color: rgb(255, 0, 0);
}

/* ページネーション */
.pagination {
  li {
    a {
      border: none;
      color: #696969;

      &:hover {
        border-radius: 15px;
      }
    }
  }

  .active a {
    border-radius: 15px;
  }
}

/* 設定画面
-------------------------------- */
.settings {
  width: 95%;
}

.unsubscribe-btn {
  width: 90%;
}

///////////////////////////////////
//          レスポンシブ         //
///////////////////////////////////
/* Extra large
-------------------------------- */
@media (max-width: 1200px) {
  /* 共通  */
  .bg-width {
    width: 70%;
  }

  /* 検索結果画面  */
  .shop-info {
    width: 70%;
  }

  /* 検索履歴画面 */
  .list-box li {
    font-size: 0.9rem;
  }
}

/* Large
-------------------------------- */
@media (max-width: 992px) {
  /* 共通 */
  .bg-width {
    width: 100%;
  }

  .title {
    font-size: 1.7rem;
  }

  .validation-error {
    font-size: 0.8rem;
  }

  /* お問い合わせ画面 */
  .top-btn {
    width: 50%;
  }

  /* 検索結果画面 */
  .shop-info {
    width: 95%;

    h2,
    p {
      font-size: 0.8rem;
    }
  }

  .result-photo p {
    font-size: 0.5rem;
  }

  /* 検索履歴画面 */
  .credit {
    font-size: 0.5rem;
  }
}

/* Medium
-------------------------------- */
@media (max-width: 768px) {
  /* 共通 */
  .text-position {
    text-align: start;
  }

  .footer-size {
    font-size: 0.7rem;
  }

  /* 検索履歴画面 */
  .list-box li {
    font-size: 0.8rem;
  }
}
