// トップページ
.bg-image {
  background-image: image-url("bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// ホームページ
.title {
  width: 300px;
  margin: 0 auto 8px;
}

// お問い合わせページ
.f-size {
  font-size: 2rem;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.bg-width {
  width: 50%;
}

/* Large
-------------------------------- */
@media (max-width: 992px) {
  // お問い合わせページ
  .f-size {
    font-size: 1.3rem;
  }

  .bg-width {
    width: 100%;
  }
}

/* Extra large
-------------------------------- */
@media (max-width: 1200px) {
  // お問い合わせページ
  .bg-width {
    width: 70%;
  }
}
