/* common
-------------------------------- */
.frame {
  min-height: 100vh; // カスタムプロパティ未対応ブラウザ用
  min-height: calc(var(--vh, 1vh) * 100);
}

.bg-image {
  background-image: image-url("bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

/* home
-------------------------------- */
.title {
  width: 300px;
  margin: 0 auto 8px;
}

.text-position {
  text-align: center;
}

/* contact
-------------------------------- */
.f-size {
  font-size: 2rem;
}

.bg-width {
  width: 50%;
}

.btn-width {
  width: 25%;
}

/* search_result
-------------------------------- */
.shop-info {
  width: 50%;
}

.shop-photo-border {
  width: 100%;
  height: 300px;
  background-color: #191818;
}

.shop-photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.credit {
  font-size: 0.7rem;
  color: #fff;
  background-color: #191818;
}

.shop-info-text-size {
  font-size: 1rem;
}

.bg-color-gray {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
}

/* Extra large
-------------------------------- */
@media (max-width: 1200px) {
  /* contact
  ------------------------------ */
  .bg-width {
    width: 70%;
  }

  /* search_result
  ------------------------------ */
  .shop-info {
    width: 70%;
  }
}

/* Large
-------------------------------- */
@media (max-width: 992px) {
  /* contact
  ------------------------------ */
  .f-size {
    font-size: 1.3rem;
  }

  .bg-width {
    width: 100%;
  }

  .btn-width {
    width: 50%;
  }

  /* search_result
  ------------------------------ */
  .shop-info {
    width: 95%;
  }

  .shop-info-text-size {
    font-size: 0.8rem;
  }

  .credit {
    font-size: 0.5rem;
    color: #fff;
    background-color: #191818;
  }
}

/* Medium
-------------------------------- */
@media (max-width: 768px) {
  /* common
  -------------------------------- */
  .footer-size {
    font-size: 0.7rem;
  }

  /* home
  -------------------------------- */
  .text-position {
    text-align: start;
  }
}
