<div class="flex-grow-1">
  <section class="px-3 bg-color">
    <h1 class="title pt-3">検索履歴</h1>

    <section class="row mt-3">
      <section class="col-md">
        <% @histories.each_with_index do |history, i| %>
          <% if i < 5 %>
            <%= render "search_histories/list", history: history %>
          <% end %>
        <% end %>
      </section>

      <section class="col-md">
        <% @histories.each_with_index do |history, i| %>
          <% if i >= 5 %>
            <%= render "search_histories/list", history: history %>
          <% end %>
        <% end %>
      </section>

      <p class="m-0 text-end footer-size">【画像提供：ホットペッパー グルメ】</p>
    </section>
  </section>

  <div class="d-flex">
    <section class="mx-auto mt-3">
      <%= paginate @histories %>
    </section>
  </div>
</div>
