<div class="flex-grow-1 d-flex flex-column bg-color" id="settings">
  <section class="width mx-auto">
    <h1 class="text-center f-size text-decoration-underline my-4">設定画面</h1>

    <section class="row">
      <section class="col-md-4 mb-2">
        <div class="list-group">
          <%= link_to "退会", unsubscribe_path, class: "list-group-item list-group-item-action active", remote: true %>
        </div>
      </section>
      <section class="col-md-8">
        <section class="content-area bg-white p-4 rounded">
          <%# デフォルトで退会画面が表示されるのはよろしくないので、他が追加されたらそちらをデフォルトにする。 %>
          <%= render "setting_pages/unsubscribe" %>
        </section>
      </section>
    </section>
  </section>
</div>
