<p>※このメールは自動送信メールです。</p>

<p><%= @resource.email %> 様</p>

<p><em>DokoTabe</em> をご利用ありがとうございます。</p>

<p>下記のリンクからアカウントメールの確認をお願いいたします。</p>

<p><%= link_to 'アカウントメールの確認はこちら', confirmation_url(@resource, confirmation_token: @token) %></p>

<P>※この内容にお心当たりのない方は、本メールを無視してください。</P>
