<p><%= @resource.email %> 様</p>

<p><em>DokoTabe</em> をご利用ありがとうございます。</p>

<p>このメールはパスワード再設定の依頼を受けたため送信しています。</p>
<p><%= link_to 'こちら', edit_password_url(@resource, reset_password_token: @token) %>からパスワードの再設定を行ってください。</p>

<p>
  ※パスワード再設定の依頼をしていない場合、本メールを無視してください。<br>
  パスワードの再設定は、上のリンクから新しいパスワードを登録するまで完了しません。
</p>
