<div class="flex-grow-1 flex-column">
  <section class="border p-5 mx-auto mt-5 bg-color bg-width">
    <h1 class="text-center f-size text-decoration-underline mb-4">お問い合わせ</h1>
    <p>
      「DokoTabe」をご利用いただきありがとうございます。<br>
      不具合やレイアウト崩れ、その他お問い合わせは、下記Twitterアカウントにご連絡いただけると大変助かります。
    </p>
    <p class="text-center fs-4 fw-bold mb-0">[@Hyzsa_PG]</p>
  </section>
  <section class="btn-width mx-auto mt-3">
    <%= link_to "TOP", root_path, type: "button", id: "top_btn", class: "btn btn-outline-dark btn-lg w-100 bi bi-house-door-fill" %>
  </section>
</div>
