<section class="mb-5 text-center flex-grow-1 d-flex flex-column justify-content-center">
  <div class="title">
    <img src="/assets/title.png" class="title" alt="">
  </div>
  <p class="lh-lg mb-5">
    お近くの飲食店から１店舗だけ選んでくれるサービスです！
  </p>
  <section class="row mb-3">
    <section class="col-md mb-4">
      <select class="form-select text-wrap" aria-label="Default select example">

        <option selected>検索範囲：</option>
        <option value="1">検索範囲：</option>
        <option value="2">検索範囲：</option>
        <option value="3">検索範囲：</option>
      </select>
    </section>
    <section class="col-md mb-4">
      <select class="form-select text-wrap" aria-label="Default select example">

        <option selected>お店のジャンル：すべて</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </section>
    <section class="col-md mb-3">
      <select class="form-select text-wrap" aria-label="Default select example">

        <option selected>料金：こだわらない</option>
        <option value="1">〜500円</option>
        <option value="2">501〜1000円</option>
        <option value="3">1001〜1500円</option>
      </select>
    </section>
    <section class="col-md-2">
      <button type="button" class="btn btn-primary w-100">検索</button>
    </section>
  </section>
</section>
